body {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.cursor {
  cursor: url('https://jenbennings.github.io/wololo/wololo.png'), auto !important;
}

.cursor a {
  cursor: url('https://jenbennings.github.io/wololo/wololo.png'), auto !important;
}